<!DOCTYPE html>
<link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
<link rel="stylesheet" href="/css/test.css" />
<footer>
        <div class="footer-container">
          <div class="footer-section social-media">
            <div class="footer-logo">
              <img src="/img/Tree.png" alt="TREE Logo" />
              <span class="footer-logo-text">TREE</span>
            </div>
            <ul class="social-links">
              <li>
                <a href="#"
                  ><img src="/img/facebook.png" alt="Facebook" /> Facebook</a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="/img/insta.png" alt="Instagram" /> Instagram</a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="/img/youtube.png" alt="YouTube" /> YouTube</a
                >
              </li>
              <li>
                <a href="#"><img src="/img/blog.png" alt="Blog" /> Blog</a>
              </li>
              <li>
                <a href="#"
                  ><img src="/img/LinkedIn.png" alt="LinkedIn" /> LinkedIn</a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="/img/Newsletter.png" alt="Newsletter" />
                  Newsletter</a
                >
              </li>
            </ul>
          </div>
  
          <div class="footer-section links">
            <h4>TREE</h4>
            <ul>
              <li><a href="#">기능</a></li>
              <li><a href="#">보안</a></li>
              <li><a href="#">요금안내</a></li>
              <li><a href="#">헬프센터</a></li>
              <li><a href="#">도입문의</a></li>
            </ul>
          </div>
  
          <div class="footer-section links">
            <h4>다운로드</h4>
            <ul>
              <li><a href="#">Windows</a></li>
              <li><a href="#">Mac OS</a></li>
              <li><a href="#">iOS</a></li>
              <li><a href="#">Android</a></li>
              <li><a href="#">리소스</a></li>
            </ul>
          </div>
  
          <div class="footer-section links">
            <h4>Toss Lab, Inc.</h4>
            <ul>
              <li><a href="#">회사소개</a></li>
              <li><a href="#">채용</a></li>
              <li><a href="#">잔디 블로그</a></li>
              <li><a href="#">파트너</a></li>
            </ul>
          </div>
        </div>
  
        <div class="footer-divider"></div>
  
        <div class="footer-legal">
          <div class="legal-text">
            <p>개인정보처리방침 | 이용약관</p>
            <p>
              (주)KH랩 | 대표이사: 누구게? | 서울특별시 선유동2로 57 양평동4가,
              이레빌딩 19층 A-Class | 이메일: khclass@kr.co.iei.com<br />
              사업자등록번호: 116-82-00640 | 통신판매업신고번호:
              2024-서울영등포구-00237 | © 1992-2024 KH Lab, Inc.
            </p>
          </div>
          <div class="language-selection">
            <span class="material-icons">language</span>
            <select>
              <option value="ko">한국어</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </footer>