<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/test.css" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
<header id="main-header">
      <div class="container">
        <div class="logo">
          <a href="#">
            <img src="/img/Tree.png" alt="TREE Logo" />
            <span class="logo-text">TREE</span>
          </a>
        </div>

        <nav>
          <ul class="nav-list">
            <li class="nav-item"><a href="#">TODO</a></li>
            <li class="nav-item"><a href="#">스케줄</a></li>
            
          </ul>
        </nav>

        <div class="header-buttons">
          <button id="openModalBtn">로그인</button>
        </div>
      </div>
    </header>
</body>
</html>